.bdcolor {
    background-color: var(--back);
    width: auto;
    height: auto;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    color: var(--text);
    text-decoration: none;
}

.bv {
    /* padding-left: 18px; */
    margin-bottom: 20px;
}

.bv h3 {
    margin-bottom: 10px;
    font-size: 22px;
}

main {
    min-height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0px auto;
    background: #f6f6f6;
    box-shadow: 20px 20px 60px #d1d1d1, -20px -20px 60px #ffffff;
    margin-top: 150px;
    border-radius: 30px;
    padding: 30px;
}

.login {
    max-width: 350px;
    margin-top: 100px;
}

.cancelar {
    background-color: #c32c2c;
    color: var(--back);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
}

.cancelar:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

.email {
    position: sticky;
    text-align: left;
    padding: 34px 19px 15px
}

input {
    width: 100%;
    padding: 16.5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #333;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 15px;
    font-weight: bold;
}

.login-salvar {
    background-color: #4CAF50;
    color: var(--back);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-salvar:hover {
    opacity: 0.8;
}

.main {
    height: 1500px;
    text-align: left;
    padding: 120px 20px;
    background-color: var(--back);
}

.modinfo {
    /* padding-top: 150px; */
}

.margentop {
    overflow: hidden;
    background-color: var(--back);
    position: fixed;
    top: 0;
    width: 100%;
    background: #f6f6f6;
    box-shadow: 5px 5px 20px #cfcfcf, -15px -15px 30px #ffffff;
}

.nome {
    position: fixed;
    text-align: left;
    padding: 14px 19px;
}

.sair {
    background-color: var(--back);
    z-index: 999;
    position: fixed;
    top: 21px;
    right: 17px;
    border: none;
    cursor: pointer;
}

span.rgt {
    width: 100%;
    text-align: center;
    display: block;
    margin-top: 80px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-collum {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.btn {
    display: block;
    width: 100%;
    background-color: var(--secondary);
    color: var(--text);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 25px;
    padding: 26.5px 30px;
    text-decoration: none;
    transition: 300ms;
    text-align: center;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 10px 10px 20px #e7e7e7, -10px -10px 20px #ffffff;
}

.btn:hover {
    background: #dadada;
    /* box-shadow: inset 10px 10px 20px #e7e7e7, inset -10px -10px 20px #ffffff; */
}

.btn-danger {
    border: none;
    color: var(--danger);
}

input {
    border: none;
    background: #f6f6f6;
    box-shadow: inset 15px 15px 30px #cfcfcf7a, inset -15px -15px 30px #ffffff;
    margin-bottom: 30px;
}

.usuario {
    max-width: 600px;
}

@media (max-width: 500px) {
    .login {
        margin-top: 75px;
    }
}

.configbottbar {
    background-color: var(--back);
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.configbottbar a {
    display: block;
    flex: 1;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 26px 0px;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 15px 15px 30px #cfcfcf, -15px -15px 30px #ffffff;
    margin: 10px;
    border-radius: 15px;
    max-width: 139px;
}

.configbottbar a:hover {
    background: #f6f6f6;
    box-shadow: inset 15px 15px 30px #cfcfcf, inset -15px -15px 30px #ffffff;
}

.configbottbar a.active {
    color: var(--black);
    font-weight: bolder;
    border: 3px solid #333;
}

@media (min-width: 1024px) {
    .configbottbar {
        bottom: unset;
        top: 0px;
        left: 0px;
        width: 100px;
        flex-direction: column;
        height: 100%;
        background-color: transparent;
    }
    .configbottbar a {
        width: 80px;
        max-height: 80px;
        padding-top: 34px;
    }
    .configbottbar a.active {
        padding-top: 28px;
    }
    .container.list {
        margin-left: 120px;
        margin-right: 120px;
        margin-bottom: 120px;
    }
}

.container.list h3 {
    margin-left: 25px;
    font-size: 25px;
    margin-bottom: 40px;
}

.user-item {
    border: 1px solid #d1d1d1;
    margin: 25px;
    padding: 15px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.user-info {
    flex: 1;
}

.user-info.name {
    flex: 0.5;
    padding-left: 15px;
}

.user-action {
    border: 1px solid #d1d1d1;
    padding: 15px;
    border-radius: 15px;
    margin-left: 10px;
    transition: 300ms;
}

.user-action img {
    max-width: 25px;
}

.user-action:hover {
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #eee;
}

@media (max-width: 1024px) {
    .user-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .user-info {
        margin: 15px;
        padding: 0px !important;
        font-size: 20px;
        font-weight: 500;
    }
    .user-action {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 15px;
        margin-left: 0px;
    }
}

.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999999999999999999999;
    padding: 0px !important;
    margin: 0px !important;
    transition: 300ms;
    opacity: 1;
}

.modal .backdrop {
    background-color: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}

.modal .modal-content {
    position: absolute;
    top: 30%;
    left: calc(50% - 175px);
    width: 350px;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
    animation: .3s fade-in forwards;
}

.modal .modal-content .modal-title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.modal .modal-content .modal-body {
    font-size: 16px;
    margin-bottom: 30px;
}

.modal .modal-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.modal .modal-footer .btn {
    height: 53px;
    margin: 0px;
    box-shadow: none;
    background: #fff;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid;
}

.modal .modal-footer .btn:nth-child(1) {
    margin-right: 5px;
}

.modal .modal-footer .btn:nth-child(2) {
    margin-left: 5px;
}

.modal.hidden {
    display: none;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        top: 20%;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.alert {
    position: absolute;
    bottom: 15px;
    width: max-content;
    padding: 25px;
    border-radius: 15px;
    width: 95%;
    left: 2.5%;
    text-align: center;
    background: linear-gradient(145deg, #dddddd, #ffffff);
    box-shadow: 10px 10px 20px #e7e7e7, -10px -10px 20px #ffffff;
}

.alert.error {
    background: var(--danger);
    color: #fff;
}

.alert.success {
    background: var(--success);
    color: #fff;
}